@font-face {
    font-family: Dogica;
    src: url(fonts/Dogica_Pixel_Bold.ttf);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Dogica;
    line-height: 150%;
}

h1 {
    font-size: 18pt;
}
h2 {
    font-size: 14pt;
}

.non-printable {
    display: block;
}
.print-only {
    display: none;
}

.cv-heading>h5,
.cv-heading>*>*>h5 {
    margin-top: 16px;
}

.address.non-printable {
    margin-top: 16px;
}

.tagline {
    margin-top: -12px;
    font-size: 12pt;
    /* font-family: 'Marck Script', sans-serif; */
}

.profile-pic-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.profile-pic {
    border-radius: 50%;
    border: 4px solid #ff0080A0;
    margin-top: 1rem;
    width: 200px;
    height: 200px;
}

.cv-heading {
    padding: 40px 40px 0px 40px;
}

.skill-set {
    font-size: 12pt;
    font-weight: 500;
    margin: -8px 0px -8px 0px;
}

.its-printable {
    margin-top: 24px;
}

.phone {
    min-width: 120px;
}

.flexcontainer {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.flex-second-column-64 {
    margin-left: 64px;
}

.flex-second-column-24 {
    margin-left: 24px;
}

.myprivacy {
    display: none;
    font-size: 8pt;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: -16px;
}


/* Professional Experience  */

.timeline {
    position: relative;
    margin: 0 auto;
    background-color: transparent;
    list-style: none;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #ff0080A0;
    top: 0;
    bottom: 0;
    margin-left: -26px;
    border-radius: 3px;
}

.job-container {
    padding: 20px 30px;
    background-color: #f5f5f5;
    border-radius: 12px;
    position: relative;
    margin-bottom: 12px;
}

.job-container::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -35px;
    background-color: white;
    border: 2px solid #ff0080A0;
    top: 24px;
    border-radius: 50%;
    z-index: 1;
}

.job-title {
    font-weight: 500;
    font-size: 14pt;
    margin-bottom: 4px;
}

.job-date {
    font-weight: 100;
    font-size: 11pt;
    display: block;
    margin: 2px 0px 8px 0px;
}

/* Print */

.pagebreak { 
    display: none;
}

.pagestart { 
    display: none;
}

@media print {
    .pagebreak {
        display: block;
        clear: both;
        page-break-after: always;
    }
    .pagestart {
        display: block;
        margin-top: 40px;
    }
    .non-printable {
        display: none;
    }
    .print-only {
        display: block;
    }
    .timeline {
        left: 0px;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .timeline::after,
    .timeline::before,
    .job-container::after,
    .job-container::before {
        display: none;
    }
    .job-container  {
        position: static;
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin-top: 10px;
    }
    .job-date {
        display: inline;
        margin: 0px 0px 0px 4px;
    }
}

/* Responsive */

@media only screen and (max-width: 480px) {
    .flexcontainer,
    .flex {
        display: block;
        width: 100%;
        flex-wrap: wrap;
    }
    .cv-heading {
        padding: 20px 0 0 0;
    }
    .flex-second-column-24,
    .flex-second-column-64 {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        padding: 40px 20px 100px 20px;
    }
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
    .job-title,
    .job-date {
        color: #eeeeee;
    }
    .job-container {
        background-color: #202020;
    }
}

/* Print */

@media print {
    .cv-heading {
        width: 100%;
        padding-left: 0px;
    }
    .myprivacy {
        display: block;
    }
    .profile-pic {
        display: none;
    }
    .content {
        padding: 0.8cm 1cm;
    }
    div {
        font-size: 10pt;
    }
    h1 {
        font-size: 16pt;
        margin-bottom: 0px;
    }
    h5 {
        font-size: 8pt;
        margin-bottom: 4px;
    }
    .job-title {
        font-weight: 400;
        font-size: 11pt;
    }
    .job-date {
        font-size: 8pt;
    }
    a {
        text-decoration: none;
        font-weight: 300;
        color: black;
    }
    .section-separator,
    .tagline,
    .socials {
        display: none;
    }
    .skill-set {
        font-size: 10pt;
    }
    .section.about {
        margin-top: 32px;
    }
    .section.skills {
        margin-top: 12px;
    }
}

@page {
    size: auto;
    margin: 0mm;
}