* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: #FF0080;
    background-color: transparent;
}

div,
span {
    font-size: 12pt;
    background-color: transparent;
}

body {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 36pt;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
}

h5 {
    font-size: 12pt;
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 0px;
}

.cv-heading>h5,
.cv-heading>*>*>h5 {
    margin-top: 16px;
}

strong {
    font-weight: 500;
}

.tagline {
    margin-top: -28px;
    font-size: 14pt;
    font-family: 'Marck Script', sans-serif;
}

.flex {
    display: flex;
}

.profile-pic-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.profile-pic {
    border-radius: 50%;
    border: 4px solid #FF0080;
    margin-top: 1rem;
    width: 200px;
    height: 200px;
}

.cv-heading {
    padding: 40px 40px 0px 40px;
}

.section-separator {
    margin-top: 24px;
    margin-bottom: 32px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 40px 40px 100px 40px;
}

.flexcontainer {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.skill-set {
    font-size: 12pt;
    font-weight: 500;
    margin: -8px 0px -8px 0px;
}

.flex-second-column-64 {
    margin-left: 64px;
}

.flex-second-column-24 {
    margin-left: 24px;
}

.socials a {
    color: black;
    font-size: 21pt;
    margin-right: 8px;
}

.socials>a>i {
    margin-top: -5px;
}

.myprivacy {
    display: none;
    font-size: 8pt;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: -16px;
}


/* Professional Experience  */

.timeline {
    position: relative;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #FF0080;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 3px;
}

.job-container {
    padding: 10px 0px;
    position: relative;
    background-color: inherit;
    width: 50%;
    margin-top: -70px;
}

.job-container:first-child {
    margin-top: 8px;
}

.job-container.left {
    padding-right: 40px;
}

.job-container.right {
    padding-left: 40px;
}

.job-container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -12px;
    background-color: white;
    border: 2px solid #ff0080;
    top: 24px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before,
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 28px;
    width: 0;
    z-index: 1;
    border: medium solid #f5f5f5;
}

.left::before {
    right: 30px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #f5f5f5;
}

.right::before {
    left: 30px;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
}

.right::after {
    left: -12px;
}

.job-content {
    padding: 20px 30px;
    background-color: #f5f5f5;
    position: relative;
    border-radius: 20px;
}

.job-title {
    font-weight: 500;
    font-size: 14pt;
    margin-bottom: 4px;
}

.job-date {
    font-weight: 100;
    font-size: 11pt;
    margin-left: 4px;
}


/* Professional Experience Responsive */

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 16px;
    }
    .job-container,
    .job-container.right,
    .job-container.left {
        width: 100%;
        padding-left: 48px;
        padding-right: 0px;
        margin-top: 0px;
    }
    .job-container::before {
        left: 60px;
        border: medium solid #f5f5f5;
        border-width: 10px 10px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
    }
    .left::after,
    .right::after {
        left: 4px;
    }
    .right {
        left: 0%;
    }
}


/* Professional Experience Print */

@media print {
    .timeline {
        left: 0px;
        width: 100%;
        padding: 0px;
        margin: 0px;
        background-color: white;
    }
    .timeline::after,
    .job-container::after,
    .job-container::before,
    .left::after,
    .right::after,
    .sideproject {
        display: none;
    }
    .job-container,
    .job-container.right,
    .job-container.left,
    .job-content {
        position: static;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .job-content {
        margin-top: 10px;
    }
    .left,
    .right {
        left: 0%;
    }
}


/* Responsive */

@media only screen and (max-width: 480px) {
    .flexcontainer,
    .flex {
        display: block;
        width: 100%;
        flex-wrap: wrap;
    }
    .cv-heading {
        padding: 20px 0 0 0;
    }
    .flex-second-column-24,
    .flex-second-column-64 {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        padding: 40px 20px 100px 20px;
    }
}


/* Dark Mode */

@media (prefers-color-scheme: dark) {
    * {
        color: #d0d0d0;
        background-color: black;
    }
    h1 {
        color: #f0f0f0;
    }
    h2,
    h3,
    .job-title,
    .job-date {
        color: #eeeeee;
    }
    a {
        color: #ff0080;
    }
    .profile-pic {
        border-color: #ff0080;
    }
    .content {
        background-color: black;
    }
    .left::before {
        border-color: transparent transparent transparent #202020;
    }
    .right::before {
        border-color: transparent #202020 transparent transparent;
    }
    .left::before {
        border-color: transparent transparent transparent #202020;
    }
    .right::before {
        border-color: transparent #202020 transparent transparent;
    }
    .timeline::after {
        background-color: #ff0080;
    }
    .job-content {
        background-color: #202020;
    }
    .job-container::after {
        border: 2px solid #FF0080;
    }
}

@media (prefers-color-scheme: dark) and (max-width: 600px) {
    .job-container::before {
        border: medium solid #202020;
        border-color: transparent #202020 transparent transparent;
    }
    .job-content {
        background-color: #202020;
    }
}


/* Print */

@media print {
    .myprivacy {
        display: block;
    }
    .profile-pic {
        border: 4px solid #444;
        width: 120px;
        height: 120px;
    }
    .content {
        padding: 0.8cm 1cm;
    }
    div {
        font-size: 10pt;
    }
    h1 {
        font-size: 21pt;
        margin-bottom: 0px;
    }
    h5 {
        font-size: 10pt;
        margin-bottom: 4px;
    }
    .job-title {
        font-weight: 400;
        font-size: 11pt;
    }
    .job-date {
        font-size: 8pt;
    }
    a {
        text-decoration: none;
        font-weight: 300;
        color: black;
    }
    .section-separator,
    .tagline,
    .socials {
        display: none;
    }
    .skill-set {
        font-size: 10pt;
    }
}

@page {
    size: auto;
    margin: 0mm;
}