* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: #FF0080;
    background-color: transparent;
}

div,
span {
    font-size: 12pt;
    background-color: transparent;
}

body {
    padding: 0px;
    margin: 0px;
}

.app-screenshot {
    max-width: 100%;
    margin-bottom: 20px;
}

h1 {
    font-size: 36pt;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
}

h5 {
    font-size: 12pt;
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 0px;
}

strong {
    font-weight: 500;
}

.flex {
    display: flex;
}

.section-separator {
    margin-top: 24px;
    margin-bottom: 32px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 40px 40px 100px 40px;
}

.socials a {
    color: black;
    font-size: 21pt;
    margin-right: 8px;
}

.socials>a>i {
    margin-top: -5px;
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
    * {
        color: #d0d0d0;
        background-color: black;
    }
    h1 {
        color: #f0f0f0;
    }
    h2, h3 {
        color: #eeeeee;
    }
    a {
        color: #ff0080;
    }
    .content {
        background-color: black;
    }
}