<!-- https://raw.githubusercontent.com/pages-themes/midnight/master/_layouts/default.html -->

<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}

    <style>
        .site-name {
            font-weight: bold;
            font-size: 15pt;
            margin-right: 20px;
        }
        .wrapper, section {
            max-width: 950px;
        }
        iframe, video, img {
            max-width: 100%;
        }
    </style>
</head>

<body>
    <div id="header">
        <nav style="background: none;">
            <ul>
                <li><span class="site-name">Curzel's</span></li>
                <li><a href="https://www.linkedin.com/in/federico-curzel-225698b7">LinkedIn</a></li>
                <li><a href="https://github.com/curzel-it">GitHub</a></li>
                <li><a href="https://twitter.com/Cuuuurzel">Twitter</a></li>
            </ul>
        </nav>
    </div>

    <div class="wrapper">
        <section>
            {{ content }}
        </section>
    </div>
</body>

</html>